.box{
	width: 800px;
	height:1450px;
	/* border: 3px solid seagreen; */
	border: 3px solid;
	border-image: linear-gradient(to top,#0093DD,#00923F,#68B92E)1 10 5;
	margin: 0 auto;
}
.top{
	width: 195mm;
	height: 130px;
	border-bottom:2px solid #009369;
	
	margin: 0 auto;
	
}
.top_text{
	width: 110px;
	height: 80px;
	float: right;
	margin-right: 300px;
	margin-top: 30px;
	
}
.top_text span{
	font-size: 45px;
	color: #00938D;
	letter-spacing: 8px;
	font-family: "宋体";
	font-weight: bold;
}
.Data{
	width: 140px;
	height: 25px;
	float: left;
	background-color: #00938D;
	margin-top: 105px;
	border-radius: 5px 5px 0px 0px;
}
.Data span{
	color: white;
	display: block;
	text-align: center;
}
.head{
	width: 738px;
	height:340px ;
	border-bottom:2px solid #009369;
	
	margin: 0 auto;
}
.name{
	margin-left: 25px;
	margin-top: 20px;
	width: 550px;
	height: 280px;
	/* border:  1px solid dimgray; */
	float: left;
}
.course{
	width: 140px;
	height: 25px;
	float: left;
	background-color: #00938D;
	margin-top: 315px;
	border-radius: 5px 5px 0px 0px;
	position: absolute;
}
.course span{
	color: white;
	display: block;
	text-align: center;
}
.name_sex{
	width: 600px;
	height: 35px;
	/* border: 1px solid red; */
	display: flex;
}
.name_sex span{
	font-weight: bold;
	font-family: "宋体";
	margin-top: 8px;
}
.name_sex_two{
	margin-left: 90px;
}
.name_sex_three{
	margin-left: 90px;
}
.img{
	margin-top: 30px;
	
	width: 100px;
	height: 143px;
	border:  2px solid crimson;
	float: right;
}
.name_address{
	width: 600px;
	height: 35px;
	/* border: 1px solid red; */
	display: flex;
	margin-top: 10px;
}
.name_address span{
	font-weight: bold;
	font-family: "宋体";
	margin-top: 8px;
}
.name_address_two{
	margin-left: 70px;
}
.name_address_three{
	margin-left: 65px;
}
.name_Education{
	width: 600px;
	height: 35px;
	/* border: 1px solid red; */
	display: flex;
	margin-top: 10px;
}
.name_Education span{
	font-weight: bold;
	font-family: "宋体";
	margin-top: 8px;
}
.name_Education_two{
	margin-left: 105px;
}
.name_phone{
	width: 600px;
	height: 35px;
	/* border: 1px solid red; */
	display: flex;
	margin-top: 10px;
}
.name_phone span{
	font-weight: bold;
	font-family: "宋体";
	margin-top: 8px;
}
.certificate{
	width: 738px;
	height: 220px;
	/* border: 1px solid gray; */
	border-bottom:2px solid #009369;
	margin: 0 auto;
}
.certificate_box{
	width: 140px;
	height: 25px;
	float: left;
	background-color: #00938D;
	margin-top: 195px;
	border-radius: 5px 5px 0px 0px;
	position: absolute;
	
}
.certificate_box{
	color: white;
	display: block;
	text-align: center;
}
.experience{
	width: 738px;
	height: 220px;
	/* border: 1px solid gray; */
	border-bottom:2px solid #009369;
	margin: 0 auto;
}
.experience ul li{
	margin-top: 20px;
	font-size: 25px;
	font-family: "宋体";
	font-weight: bold;
}
.Evaluation {
	width: 738px;
	height: 220px;
	/* border: 1px solid gray; */
	border-bottom:2px solid #009369;
	margin: 0 auto;
}
.Evaluation ul li{
	margin-top: 20px;
	font-size: 22px;
	font-family: "宋体";
	font-weight: bold;
}
.works {
	width: 738px;
	height: 220px;
	/* border: 1px solid gray; */
	border-bottom:2px solid #009369;
	margin: 0 auto;
}
.book{
	float: left;
	width: 80px;
	height: 40px;
	border: 2px transparent solid;
	/* border-image: linear-gradient(to right,transparent,#23b7cb) 1 10; */
	border-image: linear-gradient(to right,#00923F,#0093DD)1 10;
	margin-left: 40px;
	margin-top: 20px;
	transition-property:all;
	/* transition-duration: 0.5s; */
	-o-transition-timing-function: align;
	border-radius: 5px 5px 5px 5px;
}
.book a{
	font-size: 18px;
	position: absolute;
	margin-top: 8px;
	margin-left: 3px;
	color: #000000;
	text-decoration:none;
	font-weight: bold;
}
.book:hover{
	border: 2px transparent solid;
	border-image: linear-gradient(to right,#0093DD,#00923F)1 10;
}
.certificate_box_noe{
	width: 140px;
	height: 25px;
	float: left;
	background-color: #00938D;
	margin-top: 195px;
	border-radius: 5px 5px 0px 0px;
	position: absolute;
}
.certificate_box_noe span{
	font-weight: bold;
	font-family: "宋体";
	margin-top: 5px;
	float: left;
	text-align: center;
	color: white;
	margin-left: 15px;
}
.book2{
	float: left;
	width: 80px;
	height: 40px;
	border: 2px transparent solid;
	/* border-image: linear-gradient(to right,transparent,#23b7cb) 1 10; */
	border-image: linear-gradient(to right,#00923F,#0093DD)1 10;
	margin-left: 40px;
	margin-top: 20px;
	transition-property:all;
	/* transition-duration: 0.5s; */
	-o-transition-timing-function: align;
	border-radius: 5px 5px 5px 5px;
}
.book2 a{
	font-size: 14px;
	/* position: absolute; */
	/* margin-top: 8px;
	margin-left: 3px; */
	color: #000000;
	text-decoration:none;
	font-weight: bold;
}